/* ! GENERAL SELECTORS */
@font-face {
    font-family: semiBoldRaleway;
    src: url(./font/Raleway-VariableFont_wght.ttf);
}

@font-face {
    font-family: boldRaleway;
    src: url(./font/Raleway-ExtraBold.ttf);
}

:root {
    --main-bg-green-color: rgb(237, 255, 248);
    --main-gray-color: rgb(202, 202, 202);
    --mint-color: rgb(190, 255, 227);
    --priority-flag-color: rgb(255, 141, 135);
}

* {
    font-family: semiBoldRaleway;
    box-sizing: border-box;
    background-color: var(--main-bg-green-color);
}

h1 {
    font-family: boldRaleway;
    font-size: 5rem;
    margin: 0.5rem;
}

h2 {
    font-family: boldRaleway;
    font-size: 3.5rem;
    white-space: nowrap;
}

h3 {
    font-family: boldRaleway;
    font-size: 2rem;
    white-space: nowrap;
    cursor: pointer;
}

img {
    width: 1.7rem;
    height: auto;
}

li {
    text-decoration: none;
    list-style: none;
    font-size: 1.2rem;
}

/* All inputs affected: */
input {
    font-size: 1.3rem;
    text-decoration: none;
    border-left: none;
    border-top: none;
    border-right: none;
    background-color: transparent;
    resize: none;
    outline: none;
    height: 1.5rem;
}

input:focus {
    outline: none;
    border-bottom: 3px solid black;
}

/* All buttons affected: */
button {
    background-color: rgba(51, 51, 51, 0.05);
    border-radius: 8px;
    border-width: 0;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: all .2s ease-in-out;
}

button:hover {
    transform: scale(1.1);
    background-color: var(--mint-color);
}

.container {
    display: grid;
}

/* ! HEADER SECTION */
.header {
    text-align: center;
}

/* ! BODY SECTION */
.body {
    display: grid;
    grid-template-columns: 1fr min-content 3fr;
    border: 3px solid var(--main-gray-color);
    border-radius: 10px;
    padding: 1rem;
}

/* ! NAVBAR SECTION */
.navbar-today,
.navbar-project {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    gap: 1rem;
}


.nav-img {
    place-self: center;
}

.chevron {
    cursor: pointer;
}

.project-item {
    display: grid;
    grid-template-columns: min-content auto;
    gap: 1rem;
    justify-self: flex-start;
    margin-left: 1rem;
}

.project-item-title {
    align-self: center;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.projects-container {
    display: grid;
    gap: 1rem;
}

.delete-btn {
    place-self: center;
    padding: 0;
    margin: 0;
    width: 1.5rem;
    height: 1.5rem;
    background: transparent;
}

.create-project-form {
    display: grid;
    gap: 0.7rem;
    margin-top: 19rem;
}

.create-project-btn {
    width: 25vw;
    place-self: center;
}

/* ! DIV BORDER BETWEEN NAVBAR & LIST SECTIONS */
.border {
    border-right: 3px solid var(--main-gray-color);
    margin: 1rem;
    height: 100%;
}

/* ! LIST SECTION */
.list-header {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.list-title {
    max-width: 30rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.task-counter {
    place-self: center;
}

.create-task {
    display: grid;
    /* grid-template-columns: auto min-content; */
    grid-template-columns: repeat(2, auto);
    gap: 1rem;
}

.add-task-label {
    align-self: center;
}

.add-task-input {
    /* border: none; */
    margin-left: 1rem;
    width: 30vw;
}

.add-task-btn {
    width: 5vw;
}

.create-new-task-form {
    display: grid;
    grid-template-columns: min-content auto;
}

/* !TESTING */
.due-date-form {
    place-self: center;
}


.due-date-label {
}

.due-date-input {
    width: 29vw;
    text-align: center;
}

/* ! LIST BODY SECTION */

.list-body {
    display: grid;
    /* grid-template-columns: min-content auto; */
}

.task-items-container {
    /* display: grid; */
    overflow: scroll;
    height: 50vh;
}

.task-items {
    display: grid;
    grid-template-columns: min-content auto repeat(3, min-content);
    gap: 1rem;
    margin-top: 1.5rem;
    margin-right: 1rem;
}

.task-item-box {
    display: grid;
    grid-template-rows: repeat(2, auto);
    gap: 0.2rem;
    background: var(--mint-color);
    border-radius: 10px;
    padding: 0.5rem;
}

.task-list-item {
    background: transparent;
}

.span-due-date {
    font-size: 0.7rem;
    /* text-align: end; */
    /* border-top: 2px solid var(--main-gray-color); */
    background-color: transparent;
    /* place-self: center; */
}

.span-due-date::before {
    content: 'Due Date: ';
}

.task-item-label {
    place-self: center;
}

.edit-btn-img,
.priority-flag-img {
    background: transparent;
    height: 1rem;
    width: auto;
}

/* Styling each task list */
input[type="checkbox"],
input[type="date"] {
    display: grid;
    place-content: center;
    cursor: pointer;

    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    width: 1.3rem;
    height: 1.3rem;
    border: 0.1rem solid black;
    border-radius: 10px;
    transform: translateY(-0.075em);
}

input[type="checkbox"]::before {
    content: "";
    width: 0.5rem;
    height: 0.5rem;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1rem 1rem var(--mint-color);
}

input[type="checkbox"]:checked::before {
    transform: scale(1.4);
    border-radius: 50%;
}

/* .task-items > li {
    list-style: none;
    align-self: flex-start;
    background: var(--mint-color);
    border-radius: 10px;
    padding: 0.7rem;
} */

/* ! DYNAMICALLY ACTIVATED SELECTORS - JS */
.active {
    font-family: boldRaleway;
    font-size: 1.3rem;
    border-bottom: 2px solid black;
}

.complete {
    text-decoration: line-through;
}

/* Default project items view in navbar: */
.projects-container {
    /* display: none; */
    visibility: visible;
    opacity: 1;
    transition: visibility 0.7s, opacity 0.5s linear;
}

/* Adding this class fades/hides current project items in navbar: */
.toggle {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.7s, opacity 0.5s linear;
}

.high-priority {
    background-color: var(--priority-flag-color) !important;
}





/* ! DEALING WITH MODAL EFFECT: */

/* MODAL STYLING ONLY */

/* The Modal (background) */
.modal-container {
    display: none;
    position: fixed;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    /* background-color: rgb(0,0,0); Fallback color */
    /* background-color: rgba(0,0,0,0.4); Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    /* -webkit-animation-duration: 0.4s; */
    animation-name: fadeIn;
    animation-duration: 0.4s;

}

.modal-header {
    display: grid;
    place-content: center;
}

.modal-body {
    display: grid;
    place-content: center;
    padding-bottom: 3rem;

}

.modal-edit-task-form {
    display: grid;
    gap: 1rem;
    place-content: center;
}

.modal-input-task-title,
.modal-input-due-date {
    width: 25rem;
}





/* Modal Content */
.edit-task-item-modal {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.8s;
    margin-bottom: 300px;
    box-shadow: 0 15px 6px -6px rgb(100, 100, 100), 0 -15px 6px -6px rgb(100, 100, 100);
}



/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}


.is-blurred {
    filter: blur(4px);
}
